{% extends 'main/mainbase.html' %}
{% load static %}
{% block before_head%}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}



  {% block content %}


  

<hr>
<br><br><br><br>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1>User name</h1></div>
        <div class="col-sm-2"><a href="/users" class="float-xs-right"><img title="profile image" class="img-circle img-fluid" src="{% static 'img/logo.jpeg' %}"></a></div>
    </div>
    <div class="row">
       
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active mx-4 my-4"><a data-toggle="tab" href="#home" style="font-weight: bolder;">Personal Information</a></li>
                <li class="mx-4 my-4"><a data-toggle="tab" href="#orders" style="font-weight: bolder;">Order History</a></li>
                <li class="mx-4 my-4"><a data-toggle="tab" href="#addresses" style="font-weight: bolder;">Saved Addresses</a></li>
              </ul>


          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <br>

                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="email"><h4>Location</h4></label>
                              <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                          </div>
                      </div>

                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success float-xs-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                <!-- <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button> -->
                            </div>
                      </div>
                </form>

              <hr>

             </div><!--/tab-pane-->
             <div class="tab-pane" id="orders">

                  <div class="">
                    <h2>Orders to be rendered here</h2>
                  </div>

                <hr>

             </div><!--/tab-pane-->
             <div class="tab-pane" id="addresses">

              <div class="row px-4">
              <br><br>
           <div class="card mx-4" style="width: 18rem; margin:auto; border:1px solid grey; padding:12px;">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Edit Address</a>
            </div>
          </div>
             <br>

              </div>
                  <hr>
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div>
    </div>
    <br><br><br><br>
{% endblock %}
